*
body
{ 
    width:98.5vw;
    height:70vh;
    /* background-image: url(https://media.istockphoto.com/id/183832378/photo/accordion.jpg?s=612x612&w=0&k=20&c=8RqbLglLId6zL0B-RliikqA9wEZ1L3n3Pqg_SS5N8RA=);
    background-repeat: no-repeat;
    background-size: 800px; */
background-color: rgb(83, 83, 182);
}

.accordion {
    height:0.1rem;
    cursor: pointer;
    background-color:rgb(150, 169, 170);
    display: flex;
   justify-content: space-between;
   padding :2rem;
   gap:1rem;
   margin-top: 6rem;
   color:yellow
   
}
.panel {
    height:0;
    color: rgb(221, 130, 12);
    background-color:rgb(224, 214, 214);
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    overflow: hidden;  
    gap:1rem;
}
.panels {
        height: 15rem;
        gap:1rem;
        display: flex;
        justify-content: space-evenly;
}
h1{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color:aqua;
}